
/* impostazioni generali */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(133, 130, 130);
}

/* titolo e logo */

header{
    width: 100%;
    height: 70px;
    background-color: white;
    margin-bottom: 50px;
    padding: 10px;
}

#logo{
    vertical-align: middle;
}

h1{
    font-size: 25px;
    vertical-align: middle;
    color: #021732;
    display: inline;
}

/* contenitore generale */

main{
    max-width: 800px;
    height: 70%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

section{
    padding: 0.5em 3em;  
}

section:first-child{
    border-bottom:  2px solid rgb(182, 169, 169);
}

/* parte button */

.button{
    border-radius: 5px;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}

.button1{
    background-color: rgb(53, 115, 207);
    border: 1px solide rgb(53, 115, 207);
    color: white;
}

.button2{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(182, 182, 182);
    color: rgb(182, 182, 182);
}

/* parte con list e border radius */

h2{
    font-size: 20px;
    font-weight: 700;
}

h2 span.arrow{
    font-size: 10px;
    vertical-align: middle;
}

.simbolo1{
    color: rgb(26, 243, 26);
    border: 1px solid rgb(26, 243, 26);
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
}

.simbolo2{
    color: rgb(209, 25, 25);
    border: 1px solid rgb(209, 25, 25);
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
}

.editorial{
    background-color: rgb(57, 127, 207);
    border: 1px solid rgb(57, 127, 207);
    border-radius: 10px;
    padding: 3px 3px;
}

.qg{
    background-color: rgb(166, 85, 212);
    border: 1px solid rgb(166, 85, 212);
    border-radius: 10px;
    padding: 3px 3px;
}

.recruiting{
    background-color: rgb(85, 236, 148);
    border: 1px solid rgb(85, 236, 148);
    border-radius: 10px;
    padding: 3px 3px;
}

.mobile{
    background-color: rgb(235, 153, 47);
    border: 1px solid rgb(235, 153, 47);
    border-radius: 10px;
    padding: 3px 3px;
}

.website{
    background-color: rgb(231, 26, 163);
    border: 1px solid rgb(231, 26, 163);
    border-radius: 10px;
    padding: 3px 3px;
}

.sales{
    background-color: rgb(152, 240, 51);
    border: 1px solid rgb(152, 240, 51);
    border-radius: 10px;
    padding: 3px 3px;
}







